In [1]:
import pandas as pd
from transformers import pipeline
# use model
sentiment_model = pipeline(model="tiennn/finetuning-sentiment-model-40000-movie-reviews-samples",max_length=512,truncation=True)

WARNING:tensorflow:From c:\Users\NAME\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [84]:
# read data from file csv
test_df = pd.read_csv('../data/test_data.csv')

In [85]:
# Predict data
text_list = test_df['text'].to_list()
category_list = [int(i['label'][6]) for i in sentiment_model(text_list)]

In [100]:
test_df['Category'] = category_list
test_df

        Id                                               text  Category
0        0  What can possibly said about this movie other ...         0
1        1  I dont care how many bad reviews purple rain g...         1
2        2  Ken Russell directed this weird  Not very  ero...         0
3        3  This is a great movie from the lost age of rea...         1
4        4  I have a problem with the movie snobs who cons...         1
...    ...                                                ...       ...
9995  9995  I first saw this on Thames television and love...         1
9996  9996  There are rumours that a fourth Underworld is ...         0
9997  9997  Jag är nyfiken  Yellow is a lot of fun Like at...         1
9998  9998  A widely unknown strange little western with m...         1
9999  9999  I can say without a shadow of a doubt that Goi...         0

[10000 rows x 3 columns]

In [101]:
submission_file_df = test_df[['Id','Category']]
submission_file_df

        Id  Category
0        0         0
1        1         1
2        2         0
3        3         1
4        4         1
...    ...       ...
9995  9995         1
9996  9996         0
9997  9997         1
9998  9998         1
9999  9999         0

[10000 rows x 2 columns]

In [ ]:
submission_file_df.to_csv("submission_file_use_distilBert.csv",index=False)